extends layout

block content
	nav.navbar.navbar-default.navbar-fixed-top
		.row
			.col-md-9
				h1 LOGO
			.col-md-2
				input.form-control(type="text" placeholder="Username")
				input.form-control(type="password" placeholder="Password")
				button.btn.btn-primary(type="submit") Login