body{
  
}
#header{
  background-color: #dfdfdf;
  width: 100%;
  display: block;  
}

#linkholder{
  display: block;  
}
.link{  
 
}
#linkholder span{
  color: green;
}
.link:hover{
background-color: red;
cursor: pointer ;
}
.link:active{
background-color: blue;
}
.floatLeft{
  float: left;
}
.floatRight{
  float: right;
}
.clearBoth{
  clear: both;
}
.padding20{
  padding: 20px;
}
.padding18{
  padding: 18px;
}
.body{
  background-color: #dfdffd;
  min-height: 1000px;
}
#centerBody{
   width: 60%;
}

#footer{
background-color: red;
width: 100%;
}
#leftBody{
   background-color: green;
  width: 20%;
}
#rightBody{
   background-color: blue;
 width:20%;
}