body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

#error{
width: 100px;
    
    background-color: red;
    position: absolute;
    top:50%;
    width: 100%;
   
}

#center{
text-align: center;

}